.quote {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: var(--quote-font-size);
  font-weight: 500;
  line-height: 30px;
  text-align: center;

  width: var(--width-container);
  padding: 26px 72.5px;
  position: relative;
  z-index: 1;
}

.content::before {
  content: '"';
  font-family: var(--font-rostelecom);
  font-size: 150px;
  line-height: 225px;
  color: #d48b2b;

  position: absolute;
  z-index: 2;
  top: -56px;
  left: -22px;
}

.content p {
  margin-bottom: 26px;
}

.authorName {
  font-family: var(--font-rostelecom);
  font-size: 12px;
}

@media (max-width: 768px) {
  .content {
    margin: 0px 15px;
    padding: 26px;
  }
}
