.container {
  max-width: var(--article-container-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  font-size: calc(var(--base-font-size) + 4px);
  font-weight: 500;
  line-height: 30px;
  text-align: center;

  padding: 26px 72.5px;
  position: relative;
  z-index: 1;
}

.quote em {
  color: #b4711a;
}

.quote::before {
  content: '"';
  font-family: var(--font-rostelecom);
  font-size: 9.4rem;
  line-height: 14rem;
  color: #d48b2b;

  position: absolute;
  z-index: 2;
  top: -56px;
  left: -22px;
}

.content p {
  margin-bottom: 26px;
}

.authorName {
  font-family: var(--font-rostelecom);
  font-size: 12px;
}

@media (max-width: 768px) {
  .content {
    margin: 0px 15px;
    padding: 26px;
  }
}
