.container {
  --bg-color: #faeddc;
  --accent-text-color: #b4711a;

  max-width: var(--article-container-width);
  padding: 26px 72px;
  margin: 0 auto;
  margin-bottom: 30px;

  position: relative;
  z-index: 1;

  background-color: var(--bg-color);

  color: var(--accent-text-color);
  font-size: calc(var(--base-font-size) + 4px);
  text-align: center;
  line-height: calc(var(--base-line-height) + 20px);
}

/* TODO: нужно попросить у Дениса шрифт Lora с жирностью 500 */
.container p {
  font-style: italic;
  font-weight: var(--medium-font-weight);
  margin-bottom: 15px;
}

.container strong {
  color: var(--black);
  font-style: normal;
}

.container::before {
  content: url("/images/magazine/yellow-quote-icon.svg");
  color: inherit;

  position: absolute;
  top: 0;
  left: -20px;
}

.author {
  font-size: calc(var(--base-font-size) - 2px);
  font-family: var(--font-rostelecom);
}
