.container {
  max-width: var(--article-container-width);
  padding: 26px 72.5px;
  margin: 0 auto;

  position: relative;
  z-index: 1;

  font-size: calc(var(--base-font-size) + 4px);
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.container em {
  font-weight: 400;
  color: inherit;
}

.container strong {
  color: var(--text-color);
}

.container::before {
  content: '"';
  font-weight: 400;
  font-family: var(--font-rostelecom);
  font-size: 9.4rem;
  line-height: 14rem;
  color: inherit;

  position: absolute;
  z-index: 2;
  top: -56px;
  left: -22px;
}

.content p {
  margin-bottom: 26px;
}

.authorName {
  font-family: var(--font-rostelecom);
  font-size: 12px;
}

@media (max-width: 768px) {
  .content {
    margin: 0px 15px;
    padding: 26px;
  }
}
