.content {
  --article-container-width: 630px;

  padding-bottom: 30px;
}

.content > p {
  max-width: var(--article-container-width);
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--text-color);
  font-size: var(--base-font-size);
  font-family: var(--font-lora);
  line-height: var(--base-line-height);
}

.content > h2 {
  max-width: var(--article-container-width);
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--text-color);
  font-size: var(--subheader-font-size);
  font-family: var(--font-lora);
  line-height: var(--subheader-line-height);
}

/* Стиль применяется к первому уровню ссылок заданного параграфа */
.content > p > a {
  text-decoration: none;
  color: var(--accent-gray);
}

.content > p > a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content > p, .content > h2  {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
