.content > p {
  max-width: var(--article-container-width);
  margin: 0 auto;

  font: var(--font-lora);
  color: var(--text-color);
}
/* Тут мы применяем стили лишь для первого уровня ссылок, лишь у первого уровня параграфа */
.content > p > a {
  text-decoration: none;
  color: var(--accent-gray);
}

@media (max-width: 768px) {
  .content {
    margin: 0px 15px;
    padding: 26px;
  }
}
