.content {
  --article-container-width: 630px;

  padding-bottom: 30px;
}

.content > p {
  max-width: var(--article-container-width);
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--text-color);
  font-size: calc(var(--base-font-size) + 2px);
  font-family: var(--font-lora);
}

/* Стиль применяется к первому уровню ссылок заданного параграфа */
.content > p > a {
  text-decoration: none;
  color: var(--accent-gray);
}

@media (max-width: 768px) {
  .content > p {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
