.passage {
  --verse-number-color: #d2ad7c;

  max-width: 440px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 0.85em;
  font-family: var(--font-rostelecom);
  font-weight: var(--medium-font-weight);
}

.verse {
  margin-bottom: 20px;
}

.verse:last-of-type {
  margin-bottom: 10px;
}

.verse span {
  color: var(--verse-number-color);
  margin-right: 5px;
}

.verse p {
  display: inline;
}

.link {
  display: block;
  text-align: right;

  color: var(--verse-number-color);
  text-decoration: underline;
}

@media (max-width: 576px) {
  .passage {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
