.cell {
  width: 100%;
  height: 198px;
  padding: 0 30px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  cursor: pointer;
}

.cellTitle {
  margin-bottom: 10px;

  font-size: 22px;
  font-family: var(--font-lora);
  font-weight: var(--semi-bold-font-weight);
}

.cellDelimiter {
  height: 3px;
  width: 3px;
  margin-bottom: 10px;

  line-height: 6px;
  font-size: var(--small-font-size);
}

.cellAuthor {
  font-size: var(--small-font-size);
  font-family: var(--font-rostelecom);
  font-weight: var(--regular-font-weight);
}

.tagsList {
  max-width: 100%;
  height: 30px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tagItem {
  padding: 10px 10px;
  margin-right: 5px;

  background-color: #faf6f0;
  font-family: var(--font-rostelecom);
  font-weight: var(--regular-font-weight);
  color: var(--tag-color);
  text-transform: capitalize;
  line-height: 10px;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
}

.tagItem:last-child {
  margin-right: 0;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .title {
    padding: 0px 20px;
  }
}

@media (max-width: 576px) {
  .title {
    padding: 0 20px;
  }
}
