/*
  We are using breakpoints from the Bootstrap library:
  https://getbootstrap.com/docs/5.0/layout/breakpoints/

  Small:             576px;
  Medium:            768px;
  Large:             992px;
  Extra large:       1200px;
  Extra extra large: 1400px;
*/
