:root {
  --white: white;
  --black: black;
  --gray: #e6e6e6;

  --text-color: #1d1b16;

  --accent-blue: #6d8ea3;
  --accent-gray: #ccd2d4;
  --accent-pink: #dfb0a4;
  --accent-green: #416950;
  --accent-yellow: #d4b270;

  --background-gray: #ccd3d4;
  --background-white: #fefdfa;
  --background-beige: #faeddc;
}
