:root {
  --font-lora: "Lora", monospace;
  --font-rostelecom: "Rostelecom", sans-serif;

  /* p */
  --base-font-size: 18px;
  --base-line-height: 1.5;

  --small-font-size: 0.8rem;
  --small-line-height: 1.5;

  /* h1 */
  --header-font-size: 2.5rem;
  --header-line-height: 1.15;

  /* h2 */
  --subheader-font-size: 1.5rem;
  --subheader-line-height: 1.33;

  /* h3 */
  --medium-font-size: 1.22rem;
  --medium-line-height: 1.27;

  --hero-header-font-size: 5rem;
  --hero-header-line-height: 1.2;

  --light-font-weight: 200;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;
  --bold-font-weight: 700;
}

@media (max-width: 992px) {
  :root {
    --base-font-size: 16px;
  }
}
