.container {
  --bg-yellow-color: #fbf6ef;
  --khaki-text-color: #a8906e;
  --bg-mustard-color: #c07711;

  max-width: var(--article-container-width);
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 40px;

  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.header {
  display: block;
  margin-bottom: 24px;

  font-size: 1.3em;
  font-family: var(--font-lora);
  font-weight: var(--medium-font-weight);
}

.description {
  display: block;
  margin-bottom: 16px;
}

.form {
  width: 100%;
  margin-top: 32px;
  display: flex;
}

.form input {
  flex: 1;
  margin-right: 20px;
  padding: 10px;

  border: 0;
  background-color: var(--bg-yellow-color);

  color: var(--text-color);
  font-size: var(--base-font-size);
  font-family: var(--font-rostelecom);
}

.form input::placeholder {
  color: var(--khaki-text-color);
  font-size: var(--base-font-size);
}

.submit {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 170px;

  border: 0;
  cursor: pointer;
  background-color: var(--bg-mustard-color);

  color: var(--white);
  font-size: var(--base-font-size);
  font-family: var(--font-rostelecom);
}

.submit img {
  margin: auto;
  margin-left: 7px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .form input {
    width: 100%;
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .description {
    margin: 20px 0;
  }

  .form {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .form input {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .submit {
    max-width: 100%;
    flex-basis: auto;
  }

  .submit img {
    margin: 0;
    margin-right: 15px;
  }
}
