.logo {
    position: relative;
    margin: 100px auto 43px auto;
    width: 100%;
    max-width: 466px;
}

.logo > img, .logo > span {
    margin: 0 auto;
}

.logo > span {
    position: absolute;
    left: 238px;
    top: 140px;

    font-family: var(--font-rostelecom);
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--subheader-line-height);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 43px auto;
}

.container > hr {
    margin: 0 auto 10px auto;
    width: 100%;
    max-width: 972px;
    border: 1px solid #EBEAE9;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 972px;
    margin: 0 auto;
}

.filter > span, 
.filter > div {
    position: relative;
    background: #FAF6F0;
    padding: 7px 15px;
    margin: 5px 10px 0 0;

    cursor: pointer;
    user-select: none;
    font-family: var(--font-rostelecom);
    font-size: var(--base-font-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--medium-line-height);
}

.filter > span {
    display: flex;
    flex-direction: row;
}

.filter > span > img {
    margin-left: 9px;
}

.tagList {
    position: absolute;
    width: 200px;
    top: 35px;
    left: -80px;
    padding: 15px 20px;
    background: #FFFDFA;
    box-shadow: 0px 12px 34px rgba(14, 6, 47, 0.25);
}

.tagList > li {
    padding: 10px 15px 10px 0;
    border-top: 1px solid #EBEAE9;

    cursor: pointer;
    list-style: none;
    font-family: var(--font-rostelecom);
    font-size: 16px;
    font-weight: var(--regular-font-weight);
    line-height: var(--medium-line-height);
}

.tagList > li:first-child {
    border: none;
}

.tagList > li:hover {
    background: #FAF6F0;
}

.list {
    display: grid;
    grid-template-columns: 314px 314px 314px;
    gap: 30px 15px;

    max-width: 1052px;
    margin: 30px auto 0 auto;
}

.childData {
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;
    height: 198px;
}

.childData > h2,
.childData > span {
    text-align: center;
}

.childTitle {
    padding: 0 30px;
    font-family: var(--font-lora);
    font-size: var(--medium-font-size);
    font-weight: var(--semi-bold-font-weight);
    line-height: var(--medium-line-height);
}

.childPoint {
    font-size: var(--small-font-size);
}

.childAuthor {
    font-family: var(--font-rostelecom);
    font-size: var(--small-font-size);
    font-weight: var(--regular-font-weight);
}

.childTags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
}

.childTags > span {
    padding: 12.5px 10px;
    margin: 5px 5px 0 0;

    cursor: pointer;
    user-select: none;
    background-color: #FFF8EF;
    color: #888178;
    font-family: var(--font-rostelecom);
    font-size: 12px;
    font-weight: var(--medium-font-weight);
    line-height: var(--medium-line-height);
}

@media (min-width: 992px) and (max-width: 1200px) {
    .childTitle {
        padding: 0px 20px;
    }
}

@media (max-width: 992px) {
    .list {
        grid-template-columns: 337px 337px;
    }

    .filter,
    .container > hr {
        width: 694px;
    }
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: 337px;
    }

    .filter,
    .container > hr {
        width: 337px;
    }
}

@media (max-width: 576px) {
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 30px);
    }

    .logo > span {
        margin-top: 10px;
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
    }

    .list {
        grid-template-columns: 100%;
        margin: 30px 15px 0 15px;
    }

    .childTitle {
        padding: 0 20px;
    }

    .filter {
        width: 100%;
        padding: 0 15px;
    }

    .container > hr {
        width: calc(100% - 30px);
        margin: 0 auto 10px auto;
    }
}
