.container {
  width: var(--article-container-width);
  margin: 0 auto;

  border-top: 1px #c5c5c5 solid;
  border-bottom: 1px #c5c5c5 solid;
}

.description {
  font-family: var(--font-lora);
  font-weight: var(--medium-font-weight);
  font-size: calc(var(--base-font-size) + 6px);

  margin: 35px 0;
}

.form {
  width: 100%;

  margin-bottom: 35px;
}

.form input {
  width: 210px;
  border: 0;
  background-color: var(--background-beige);

  padding: 10px;
  margin-right: 20px;

  font-family: var(--font-rostelecom);
  font-size: var(--base-font-size);
  color: var(--text-color);
}

.submit {
  background-color: var(--background-beige);
  border: 0;
  cursor: pointer;

  padding: 10px 10px 10px 20px;

  font-family: var(--font-rostelecom);
  font-size: var(--base-font-size);
  color: var(--white);
}
