.container {
  max-width: var(--article-container-width);
  margin: 0 auto;
}

.character {
  width: 100%;
  height: 200px;

  background-size: cover;
  background-position: top center;

  border-radius: 30px;
}
